@import '../../../Style/Style';

.menubar-bg{
    background-color: $brand-color;
    width: 100%;
    padding: 0 20px;
}
.menu-link{
    color: $primary-color;
    font-weight: 500;
    padding-right: 20px;
}
.menu-link:hover{
    color: white;
    text-decoration: none;
}
.navbar-hamburger{
    background-color: $primary-color!important;
}