@import '../../../Style/Style';

.footer-bg{
    background-color: #0b112c;
    color: $primary-color;
    padding: 70px 0 20px 0;
}
.copy{
    margin-top: 40px;
    letter-spacing: 2px;
    opacity: 0.4;
}